* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 40%;
  height: auto;
  margin: 2rem auto;
}

input {
  margin: 0.5rem 0;
}

li:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}
